.collapsible-body {
    background: $color_secondary;
    color: #fff;
    display: none;
    padding-right: 16px;

    a {
        padding: 1rem 2rem;
        width: 100%;

        &:hover {
            color: #fff !important;
        }
    }

    p {
        margin: 0 !important;
    }
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;

    &::after {
        content: "\f103";
        font-family: "Flaticon";
        font-size: 0.8rem;
        @include transition-fast();
    }
}

.collapsible-body a.collapsible-header,
.right-sidenav nav > ul > li > a {
    display: flex;
    justify-content: space-between !important;
}

.right-sidenav nav > ul > li > a {
    color: var(--general-dark-text);
}

.collapsible > li.active > .collapsible-header::after {
    transform: rotate(180deg);
}

// Right Sidenav Collapsible
nav > .right-sidenav-collapsible {
    > li {
        > .sub-menu {
            padding-right: 0 !important;

            > li {
                > a {
                    color: #fff;
                    padding: 16px 32px;
                    display: flex;

                    &:hover {
                        color: #fff;
                    }
                }
            }

            .sub-menu {
                li {
                    a {
                        color: #fff !important;
                        padding: 10px 20px;
                        display: block;
                    }
                }
            }
        }
    }
}
