.body-404 {
    background: #3E3062;
    background: linear-gradient(to top, #70376F, #3E3062);
    height: 100%;
    width: 100%;
    overflow: hidden !important;
    display: flex;
    justify-content: center;
}

.eror_container {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    max-width: 100%;
    padding: 10px;

    .fourty-four-container {
        display: flex;

        .fourty-four-number {
            color: #fff;
            font-weight: 900;
            font-size: 7rem;
            margin-right: 32px;
            margin-left: 32px;
        }
    }

    .eror-message {
        color: #fff;
        font-size: 1.15rem;
        text-align: center;
        margin-top: 16px;
        max-width: 400px;
        line-height: 1.75;

        button {
            background: #FFCB39;
            color: #fff;
            padding: 8px 32px;
            border-radius: 50px;
            font-size: 1rem;
            box-shadow: 0 5px 20px rgba(#FFCB39, .57);
        }
    }
}

.moon {
    content: "";
    background: #fff;
    background: linear-gradient(125deg, #fff 48%, #e8e8e8 100%);
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, .5);

    .moon__crater {
        content: "";
        position: absolute;
        border-radius: 100%;
        background: #e1e1e1;
        background: linear-gradient(90deg, #cecece 38%, #e1e1e1 100%);
        opacity: .6;
    }

    .moon__crater1 {
        top: 40px;
        right: 9px;
        width: 20px;
        height: 41px;
        transform: rotate(-15deg);
    }

    .moon__crater2 {
        right: 120px;
        width: 17px;
        height: 41px;
        transform: rotate(30deg);
        bottom: 80px;

    }

    .moon__crater3 {
        top: 110px;
        left: 85px;
        width: 25px;
        height: 35px;
        transform: rotate(242deg);
    }

}



@keyframes move-astronaut {
    100% {
        transform: translate(-160px, -160px);
    }
}

@keyframes rotate-astronaut {
    100% {
        transform: rotate(-720deg);
    }
}

@keyframes shine {
    100% {
        opacity: 1;
    }
}

.star {
    background: #fff;
    opacity: .4;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    position: absolute;

    &:nth-child(1) {
        left: 100vw;
        top: 77vh
    }

    &:nth-child(2) {
        left: 76vw;
        top: 39vh
    }

    &:nth-child(3) {
        left: 68vw;
        top: 22vh;
        animation: shine 2s infinite ease-in-out alternate 5s;
    }

    &:nth-child(4) {
        left: 34vw;
        top: 87vh
    }

    &:nth-child(5) {
        left: 18vw;
        top: 45vh;
        animation: shine 2s infinite ease-in-out alternate 1.5s;
    }

    &:nth-child(6) {
        left: 31vw;
        top: 99vh;
        animation: shine 2s infinite ease-in-out alternate 2s;
    }

    &:nth-child(7) {
        left: 15vw;
        top: 16vh
    }

    &:nth-child(8) {
        left: 14vw;
        top: 89vh
    }

    &:nth-child(9) {
        left: 91vw;
        top: 11vh
    }

    &:nth-child(10) {
        left: 34vw;
        top: 8vh;
        animation: shine 2s infinite ease-in-out alternate 1s;
    }

    &:nth-child(11) {
        left: 4vw;
        top: 16vh
    }

    &:nth-child(12) {
        left: 61vw;
        top: 77vh
    }

    &:nth-child(13) {
        left: 21vw;
        top: 91vh
    }

    &:nth-child(14) {
        left: 70vw;
        top: 100vh;
        animation: shine 2s infinite ease-in-out alternate 3s;
    }

    &:nth-child(15) {
        left: 96vw;
        top: 74vh
    }

    &:nth-child(16) {
        left: 38vw;
        top: 48vh
    }

    &:nth-child(17) {
        left: 23vw;
        top: 62vh
    }

    &:nth-child(18) {
        left: 41vw;
        top: 40vh;
        animation: shine 2s infinite ease-in-out alternate 1.5s;
    }

    &:nth-child(19) {
        left: 94vw;
        top: 2vh
    }

    &:nth-child(20) {
        left: 41vw;
        top: 57vh;
        animation: shine 2s infinite ease-in-out alternate 1s;
    }

    &:nth-child(21) {
        left: 42vw;
        top: 74vh
    }

    &:nth-child(22) {
        left: 71vw;
        top: 31vh;
        animation: shine 2s infinite ease-in-out alternate 4s;
    }

    &:nth-child(23) {
        left: 89vw;
        top: 39vh
    }

    &:nth-child(24) {
        left: 5vw;
        top: 82vh
    }

    &:nth-child(25) {
        left: 39vw;
        top: 6vh;
        animation: shine 2s infinite ease-in-out alternate 2.5s;
    }

    &:nth-child(26) {
        left: 62vw;
        top: 15vh
    }

    &:nth-child(27) {
        left: 50vw;
        top: 66vh
    }

    &:nth-child(28) {
        left: 25vw;
        top: 77vh;
        animation: shine 2s infinite ease-in-out alternate 3.5s;
    }

    &:nth-child(29) {
        left: 78vw;
        top: 13vh
    }

    &:nth-child(30) {
        left: 67vw;
        top: 75vh
    }
}